
#board {
  position: sticky;
  width: 50vw;
  height: 50vw;
}
#overlay .plot {
  z-index: 50;
  background: none;
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.05), inset -2px -2px 0 #665235;
}
.plot {
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/marte.jpg');
  background-size: calc(10vw - 4px);
}
.alien {
  background-image: url('/assets/img/alien.jpg');
  background-size: calc(10vw - 4px);
}
.ovni {
  background-image: url('/assets/img/ovni.jpg');
  background-size: calc(10vw - 4px);
}
.nave {
  background-image: url('/assets/img/nave.jpg');
  background-size: calc(10vw - 4px);
}
#action, #soil, #overlay {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  position: absolute;
  top: 10%;
  left: 46%;
  width: 100%;
  height: 100%;
}
.bg {
   background-image: url('/assets/img/coche.jpg');
}
 .bg {
  width: 100%;
  height: 100%;
  background-position: left top;
  background-size: calc(10vw - 4px);
}

